html {
    position: relative;
    min-height: 100%;

}
.container-medium{
    padding-left: 20%;
}



body {
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    margin-right:13%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.navbar, .navbar-default {
    background-color: white;
    font-weight: 400;
    font-size: 20px;
    border: 0;
}
.navbar-default .navbar-nav li a:hover {
    background-color: #7FDBFF;
    transition: 0.7s all linear;
    height: 100%;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding-right: 15px;
    width: auto;
}
.img-fluid {
    width: 115%;
    height: 40%;
}

.investmentTableLayout tbody tr td,
.investmentTableLayout thead tr th,
.investmentTableLayout tbody tr th,
.investmentTableLayout thead tr td,
.investmentTableLayout tfoot tr th,
.investmentTableLayout tfoot tr td {
    border: none;
}
.card-blockquote p:before {
    content: open-quote;
    font-size:50px;
    color:#889c0b;
}
.card-blockquote p:after {
    content: close-quote;
    font-size:50px;
    color:#889c0b;

}
#cap {
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:25px;
    top:25px;
}
.dropdown-menu {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.process-step .btn:focus{outline:none}
.process{display:table;width:100%;position:relative}
.process-row{display:table-row}
.process-step button[disabled]{opacity:1 !important;filter: alpha(opacity=100) !important}
.process-row:before{top:40px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;z-order:0}
.process-step{display:table-cell;text-align:center;position:relative}
.process-step p{margin-top:4px}
.btn-circle{width:80px;height:80px;text-align:center;font-size:12px;border-radius:50%}

#mandatory-field:after {
    color: red;
    content: " *";
}
#mandatory {
    text-align: center;
}